<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <!-- <div class="logo">
            <img src="../../assets/download.jpeg" >
        </div> -->
        <a href="#" class="navbar-brand">Tribehired-devs-test</a>
    <div class="collapse navbar-collapse" style="float: left;"> 
       
       <ul class="navbar-nav ml-auto" > 
            <li><a routerLink='/task1' class="nav-link">Task 1</a></li>
           <li><a routerLink='/task2' class="nav-link">Task 2</a></li>
           <li><a routerLink='/task3' class="nav-link">Task 3</a></li>
           <!-- <li><a routerLink='/task4' class="nav-link">Task 4</a></li>  -->
           
       </ul>
       
    </div>
    </div>
</nav>